<div class="teaser" id="book">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="hidden-sm hidden-xs col-md-4">
            <div class="thumb">
                <p>Bildband gross, Cover</p>
                <span class="glyphicon glyphicon-picture"></span>
                <!-- <img src="images/ph.png" style="background-image: url('{{url}}');" alt="{{caption}}"> -->
            </div>
          </div>
          <div class="col-md-8">
            <div class="thumb">
                <p>Bildband gross, Offen</p>
                <span class="glyphicon glyphicon-picture"></span>
                <!-- <img src="images/ph.png" style="background-image: url('{{url}}');" alt="{{caption}}"> -->
            </div>
          </div>
        </div>
        <div class="item">
          <div class="hidden-sm hidden-xs col-md-4 col-md-offset-1">
            <div class="thumb">
                <p>Bildband klein, Cover</p>
                <span class="glyphicon glyphicon-picture"></span>
                <!-- <img src="images/ph.png" style="background-image: url('{{url}}');" alt="{{caption}}"> -->
            </div>
          </div>
          <div class="col-md-7">
            <div class="thumb">
                <p>Bildband klein, Offen</p>
                <span class="glyphicon glyphicon-picture"></span>
                <!-- <img src="images/ph.png" style="background-image: url('{{url}}');" alt="{{caption}}"> -->
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-caption">
        <div class="container">
        <h1>Eindrücke des Amazonas</h1>
        <p class="lead">Das Fotobuch mit 120 eindrücklichen Aufnahmen eines der einzigartigsten Gebiete unseres Planeten.<br><span>Erhältlich als <a data-target="#carousel-example-generic" data-slide-to="0" class="active">Bildband gross mit festem Einband</a> oder <a data-target="#carousel-example-generic" data-slide-to="1">klein mit Softcover</a>.</p>
        <a href="#buy" class="btn-buy btn btn-lg btn-primary">Buch bestellen</a></span>
        </div>
      </div>

      <!-- Controls -->
      {% comment %}<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>{% endcomment %}
    </div>
</div>